body {
  background-color: #f2f2f2;
  font-family: sans-serif;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 90%;
  margin-top: 5%;
}

.StationTable > ul {
  padding: 0;
}

.stationRow {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 0 5px 0;
}

.stationName {
  color: rgb(34, 34, 34);
  font-family: IBMPlexSans-Bold;
  font-size: 16px;
  font-weight: bold;
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  width: 101px;
}

.availabilityState {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  width: max-content;
  background: rgb(242, 242, 242);
  border-radius: 12px;
  height: 24px;
  width: 102px;
}

/* Page 2 */

#buttonBack {
  filter: invert(100%);
  background: white;
  height: 48px;
  width: 48px;
  margin-right: 10px;
  cursor: pointer;
}

#buttonBack:hover {
  filter: invert(0%);
  background: none;
}

.data {
  margin: 5px;
}

.label {
  color: #5f5f5f;
}

.dataTable {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-radius: 8px;
  background: white;
}

.actionBar {
  display: flex;
  align-items: center;
}
